@layout CustomLayout
@page "/"
@using CinePick.Web.Components.Layout
@using Microsoft.FluentUI.AspNetCore.Components

<link rel="stylesheet" href="app.css"/>
<PageTitle>Movies</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <span style="display: block">Trending</span>
    <br/>
    
    

</FluentStack>


