@using Microsoft.FluentUI.AspNetCore.Components
@using Icons= Microsoft.FluentUI.AspNetCore.Components.Icons


<FluentStack Orientation="Orientation.Horizontal" Width="100%">
    <div>
        <FluentNavMenu @bind-Expanded="@Expanded" Width="200" Collapsible="true" CollapsedChildNavigation="@EnableCollapsedChildNavigation" Title="Collapsible demo">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.MoviesAndTv())" Tooltip="Item 1 tooltip"><span style="color: #FFCD00FF">Movies</span></FluentNavLink>
            <FluentNavLink  Tooltip="Item 3 tooltip" Icon="@(new Icons.Regular.Size24.Eye())" ><span style="color: #FFCD00FF">My Watchlist</span></FluentNavLink>
        </FluentNavMenu>
    </div>
   
</FluentStack>

@code
{
    bool Expanded = true;
    bool EnableCollapsedChildNavigation = true;
}


@code {
private bool expanded = true;
}